.root {
    -fx-font-family: "Roboto";
}
#searchPane{
    -fx-background-image: url("Background/background(1).png");
}
#listViewHistory{
    -fx-background-color: transparent;
}
#listViewFavourite{
    -fx-background-color: transparent;
}
#searchAnchorPane{
    -fx-opacity: 0.5;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}
#definitionAnchorPane{
    -fx-opacity: 0.85;
}
#historyPane{
    -fx-background-image: url("Background/background.png");
}
#translatePane{
    -fx-background-image: url("Background/background(3).png");
}
#favouritePane{
    -fx-background-image: url("Background/background.png");
}
#addPane{
    -fx-background-image: url("Background/background(2).png");
}
#removePane{
    -fx-background-image: url("Background/background(2).png");
}
#editPane{
    -fx-background-image: url("Background/background(2).png");
}
.vbox{
    -fx-background-color: transparent;
}
#addInput{
    -fx-opacity: 0.75;
}
#inputSentence{
    -fx-opacity: 0.75;
}
#outputSentence{
    -fx-opacity: 0.75;
}
#removeInput{
    -fx-opacity: 0.75;
}
#editInput{
    -fx-opacity: 0.75;
}
#listViewAdd{
    -fx-opacity: 0.75;
}
#listViewEdit{
    -fx-opacity: 0.75;
}
#listViewRemove{
    -fx-opacity: 0.75;
}
#addPhonetic{
    -fx-opacity: 0.75;
}
#editPhonetic{
    -fx-opacity: 0.75;
}
#removePhonetic{
    -fx-opacity: 0.75;
}
#addDefinition{
    -fx-opacity: 0.75;
}
#editDefinition{
    -fx-opacity: 0.75;
}
#removeDefinition{
    -fx-opacity: 0.75;
}
#definitionSearch{
    -fx-opacity: 0.75;
}
#searchPhonetic{
    -fx-opacity: 0.75;
}
#labelShow{
    -fx-background-color: #4db6ac;
}
.tab-pane {
    -fx-padding: 0 -1 -1 0
}
.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}
.tab{

    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
}
.tab:selected
{
    -fx-background-color: #F2FEFA;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: #05D39B;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #b2dfdb;
}
.list-cell {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.list-cell:filled:hover {
    -fx-background-color: #e0f2f1;
}
#iconSearch{
    -fx-image: url("Icon/search.png");
    -fx-border-width: 0 0 0 0;
}
#iconHistory{
    -fx-image: url("Icon/history.png");
}
#iconFavorite{
    -fx-image: url("Icon/favourite.png");
}

#iconEdit{
    -fx-image: url("Icon/edit.png");
}
#iconSetting{
    -fx-image: url("Icon/setting.png");
}
#tabAdd:selected *{
    -fx-border-width: 0 0 0 0;
}
#tabRemove:selected *{
    -fx-border-width: 0 0 0 0;
}
#tabEdit2:selected *{
    -fx-border-width: 0 0 0 0;
}

#buttonFavorite {
    /*-fx-background-size: 18px;*/
    -fx-background-color: inherit;
    -fx-background-image: url("Icon/inactive.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#buttonFavorite:selected {
    -fx-background-image: url("Icon/active.png");
}
#buttonFavorite:selected {
    -fx-background-image: url("Icon/active.png");
}