.labelShow{
    -fx-background-color: #4db6ac;
}
.tab-pane {
    -fx-padding: 0 -1 -1 0
}
.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}
.tab{

    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 0 10 0 10;
}
.tab:selected
{
    -fx-background-color: #F2FEFA;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: #05D39B;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #b2dfdb;
}
.list-cell {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.list-cell:filled:hover {
    -fx-background-color: #e0f2f1;
}
#iconSearch{
    -fx-image: url("Icon/search.png");
    -fx-border-width: 0 0 0 0;
}
#iconHistory{
    -fx-image: url("Icon/history.png");
}
#iconFavorite{
    -fx-image: url("Icon/favourite.png");
}
#iconEdit{
    -fx-image: url("Icon/edit.png");
}
#iconSetting{
    -fx-image: url("Icon/setting.png");
}
#tabAdd:selected *{
    -fx-border-width: 0 0 0 0;
}
#tabRemove:selected *{
    -fx-border-width: 0 0 0 0;
}
#tabEdit2:selected *{
    -fx-border-width: 0 0 0 0;
}

/*.toggle-button {*/
/*    -fx-max-height: 30;*/
/*    -fx-max-width: 30;*/
/*    -fx-min-height: 30;*/
/*    -fx-min-width: 30;*/
/*    -fx-background-color: inherit;*/
/*    -fx-background-image: url("Icon/mark.png");*/
/*    -fx-background-repeat: no-repeat;*/
/*    -fx-background-position: center;*/
/*}*/
/*.toggle-button:selected {*/
/*    -fx-background-image: url("Icons/mark1.png");*/
/*}*/